.c2 {
    padding-top: 8.6rem;
}

.c2-up{
    background-image: url(../../images/c2-1.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 29.5rem;
    height: 15rem;
    padding: 5.7rem 14.2rem 5.7rem 3.1rem;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 156%;
    text-transform: uppercase;
    color: #000;
    z-index: 1;
}
.c2-up2{
    background-image: url(../../images/c2-2.png);
    color: #fff;
    padding: 4.1rem 14.2rem 4.4rem 3.1rem;
}
.c2-up3{
    background-image: url(../../images/c2-3.png);
    padding: 5.7rem 10.9rem 5.7rem 3.1rem;
}
.c2-cont{
    background-image: url(../../images/c2-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    width: 36.9rem;
    padding: 10rem 3.5rem 4.4rem 3.9rem;
    border-radius: 1rem;
    margin-top: -7rem;
}
.c2-cont2{
   margin-top: -10rem; 
   padding: 12.4rem 3.5rem 4.4rem 3.9rem;
}

.c2-cont-wrap{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1.4rem;
}
.c2-cont-wrap img{
    height: 1.5rem;
}
.c2-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.c2-wrap2{
    margin-top: -2.5rem;
}