.c3 {
   
}

.c3-first-wrap{
    background-image: url(../../images/c3-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.2rem;
    border: 1px solid #4d4d4d;
    height: 23.5rem;
    width: 36.8rem;
    padding: 1rem 3.7rem 3.5rem 3.5rem;
    margin-top: 5rem;
}
.c3-first-head-text{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 3.5rem;
    line-height: 200%;
    text-transform: uppercase;
    text-align: center;
    color: #fff2af;
}
.c3-first-text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 129%;
    text-align: center;
    color: #fff;
}
.c3-num-wrap{
    height: 5rem;
    width: 31.5rem;
    display: flex;
    padding-left: 1.1rem;
    align-items: center;
    background: linear-gradient(21deg, #a72a0b 0%, #df5735 100%);
    border-radius: 0.5rem;
    gap: 1.2rem;
    
}
.c3-num-wrap img{
    width: 3rem;
    height: 3rem;
}
.c3-num-wrap p{
    font-family: var(--font-family);
font-weight: 600;
font-size: 1.6rem;
line-height: 125%;
text-transform: uppercase;
color: #fff;
padding-top: 0.5rem;
}
.c3-num{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 31.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.c3-num-tx{
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.4rem;
line-height: 129%;
color: #fff;
}
.c3-wrap{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 4rem;
}
.c3-pic-wrap{
    margin-top: 4rem;
}
.c3-pic-wrap img{
    width: 36.9rem;
    height: 42.2rem;
}
.c3-end-text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.5rem;
line-height: 120%;
text-align: center;
color: #fff;
margin-top: -9rem;
}