.c6-wrap{
    background-image: url(../../images/c6-bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 3rem;
    height: 87rem;
    width: 42.8rem;
    padding: 5.1rem 4rem 39.1rem 4.3rem;
}
.c6-subtitle{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 150%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.c6-mln-wrap{
    display: flex;
    gap: 1.7rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}
.c6-mln-wrap img{
    height: 7.8rem;
    width: 7.8rem;
}
.c6-mln-wrap p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 129%;
    color: #fff;
}
.c6-main-text{
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.4rem;
line-height: 129%;
color: #fff;
}